{% extends "main.html" %}
{% block content %}
  <div class="container">
    <div class="header">
      <h1>Welcome on Japanese Language Schools directory !</h1> 
      <h2>List of all registered schools :</h2>
    </div>
    {% for school in schools %}
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ school[1] }}
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
  	  <dt>Name :</dt>
  	  <dd>{{ school[1] }}</dd>
  	  <dt>City :</dt>
  	  <dd>{{ school[2] }}</dd>
  	  <dt>Price per month (€) :</dt>
  	  <dd>{% if school[11] == None %} Not calculated {% else %}{{ school[11] }} {% endif %}</dd>
	</dl>
	<div><a href="{{ url_for('school_description', number=school[0]) }}">More informations</a></div>
        </div>	
      </div>
    {% endfor %}
  </div>
{% endblock %}  
