{% extends "main.html" %}
{% block style %}
<style>
  .google-maps {
    border: 0;
    width: -webkit-fill-available;
    height: 400px;
  }
  dd {
    margin-bottom: 5px;
  }
  tr .sub{
    font-weight: normal;
  }
  .school-logo{
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
  }
</style>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="header">
        <h1>{{ school.name }}</h1> 
        <h2>Detailled information :</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="school-logo"><img src="{{ url_for('static', filename='img/school'+school[0]|string+'.jpg') }}"></div>
	      <dl class="dl-horizontal">
		<dt>Name :</dt>
		<dd>{{ school.name }}</dd>
		<dt>City :</dt>
		<dd>{{ school.city }}</dd>
		{% if school.district != None %}
		  <dt>District :</dt>
		  <dd>{{ school.district }}</dd>
		{% endif %}
		<dt>Website :</dt>
		<dd><a href="{{ school.website }}">{{ school.website }}</a></dd>
	      </dl>
            </div>
            <div class="col-md-6">
	      <div class="panel panel-default">
  	        <div class="panel-heading"><h3>Price details</h3></div>
  	        <table class="table">
    	 	  <tr>
		    <th class="sub">Placement fee :</th>
		    <th class="sub">{{ school[4] }} yens</th>
		  </tr>
    	 	  <tr>
		    <th class="sub">Course fee :</th>
		    <th class="sub">{{ school[5] }} yens</th>
		  </tr>
    	 	  <tr>
		    <th class="sub">Residence fee :</th>
		    <th class="sub">{% if school[7] != None %}{{ school[7] }} yens{% else %}No information provided{% endif %}</th>
		  </tr>
    	 	  <tr>
		    <th>Total :</th>
		    <th>{% if school[8] != None %}{{ school[8] }} yens{% else %}No information provided{% endif %}</th>
		  </tr>
    	 	  <tr>
		    <th>Total per month:</th>
		    <th>{% if school[10] != None %}{{ school[10] }} yens{% else %}No information provided{% endif %}</th>
		  </tr>
    	 	  <tr>
		    <th><b>Total per month:</b></th>
		    <th>{% if school[11] != None %}{{ school[11] }} euros{% else %}No information provided{% endif %}</th>
		  </tr>
  	        </table>
	      </div>
	      <div>
                <iframe class="google-maps" src="{{school.googleLink}}" allowfullscreen="allowfullscreen">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

