{% extends "main.html" %}
{% block style %}
<style>
  .google-maps {
    border: 0;
    width: -webkit-fill-available;
    height: 400px;
  }
  dd {
    margin-bottom: 5px;
  }
  tr .sub{
    font-weight: normal;
  }
  .school-logo{
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
  }
</style>
{% endblock %}

{% block content %}
    <div class="container page">
      <div class="header">
        <h1>{{ school.name }}</h1> 
        <h2>Detailled information :</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="school-logo"><img src="{{ url_for('static', filename='img/school'+school[0]|string+'.jpg') }}"></div>
	      <dl class="dl-horizontal">
		<dt>Name :</dt>
		<dd>{{ school.name }}</dd>
		<dt>City :</dt>
		<dd>{{ school.city }}</dd>
		{% if school.district != None %}
		  <dt>District :</dt>
		  <dd>{{ school.district }}</dd>
		{% endif %}
		<dt>Website :</dt>
		<dd><a href="{{ school.website }}">{{ school.website }}</a></dd>
	      </dl>
	    </div>
              <div class="col-md-6">
                <iframe class="google-maps" src="{{school.googleLink}}" allowfullscreen="allowfullscreen"></iframe>
              </div>
            </div>
        </div>
      </div>
      <div class="panel with-nav-tabs panel-default">
         <div class="panel-heading">
           <ul class="nav nav-tabs">
	   {% for program in programs %}
             <li><a href="#tab1default" data-toggle="tab">Default 1</a></li>
           {% endfor %}
           </ul>
         </div>
	 <div class="panel-body">
	   <div class="tab-content">
	   {% for program in programs %}
	     <div class="tab-pane fade in active" id="tab1default">
               <div class="row">
                 <div class="col-md-6">
	           <dl class="dl-horizontal">
		     <dt>Duration :</dt>
		     <dd>{{ program.duration }} months</dd>
		     {% if program.accoType != ''%}
		     <dt>Accomodation type :</dt>
		     <dd>{{ program.accoType }}</dd>
		     {% endif %}
		     <dt>Visa Support :</dt>
		     <dd>{{ program.visaSupp }}</dd>
		     <dt>EJU preparation :</dt>
		     <dd>{{ program.eju }}</dd>
		     <dt>JLPT preparation :</dt>
		     <dd>{{ program.jlpt }}</dd>
		     <dt>Additionnal notes :</dt>
		     <dd>{{ program.notes }}</dd>
	           </dl>
	         </div>
                 <div class="col-md-6">
	           <div class="panel panel-default">
                     <div class="panel-heading">Price</div>
                       <table class="table">
                         <tbody>
			   <tr>
                             <td>Application fee :</td>
                             <td>{{ program.appliFee }}</td>
                           </tr>
			   <tr>
                             <td>Course fee :</td>
                             <td>{{ program.courseFee }}</td>
                           </tr>
			   <tr>
                             <td>Accomodation fee :</td>
                             <td>{{ program.accoFee }}</td>
                           </tr>
			   <tr>
                             <td>Total fee :</td>
                             <td>{{ program.appliFee+program.courseFee+program.accoFee }}</td>
                           </tr>
			   <tr>
                             <td>Price per month :</td>
                             <td>{{ (program.appliFee+program.courseFee+program.accoFee)/program.duration }}</td>
                           </tr>
                         </tbody>
                       </table>
                     </div>
                   </div>
	         </div>
               </div>
	   {% endfor %}
	   </div>
	 </div>
      </div>
    </div>
{% endblock %}

