<!doctype html>
<head>
	<title>Set09103 - Japanese schools in Japan</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}", rel= "stylesheet" />
	<script src=" {{ url_for('static', filename='js/bootstrap.min.js') }}",></script>
	<script src=" {{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript">
	  
	</script>

        <style>
	  .header{padding-bottom : 15px}
	  .panel-heading{font-weight : bold;
			 font-size : 18px}
	</style>
	{% block style %} {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('root') }}">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('listing_schools') }}">Schools</a></li>
        <li class="dropdown">
          <a href="{{ url_for('cities') }}" class="dropdown-toggle" data-toggle="dropdown">By location<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Tokyo</a></li>
            <li><a href="#">Kyoto</a></li>
            <li><a href="#">Nagano</a></li>
            <li><a href="#">Fukuoka</a></li>
            <li><a href="#">Nagoya</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ url_for('prices') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By price<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Under 1000€/month</a></li>
            <li><a href="#">Over 1000€/month</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ url_for('durations') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By duration<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Under 12 months</a></li>
            <li><a href="#">12 months</a></li>
            <li><a href="#">18 months</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" action="{{ url_for('search') }}" method="post">
        <div class="form-group">
          <input type="text" class="form-control" id="value" name="value" required>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  </div>
</nav>  
	
{% block content %} {% endblock %}


  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
  </div>

</body>
</html>
