<!doctype html>
<head>
	<title>Set09103 - Japanese schools in Japan</title>
	<script src=" {{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	<script src=" {{ url_for('static', filename='js/bootstrap.min.js') }}",></script>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}", rel= "stylesheet" />

        <style>
	  .header{padding-bottom : 15px}
	  .panel-heading{font-weight : bold;
			 font-size : 18px}
	  .navbar-sticky-bottom{color : #9d9d9d;
			       text-align : center;
			       padding-top : 5px;
                               margin-bottom : 0; 
			       position: fixed;
                               bottom: 0px;
                               width: 100%;}
          .container.page{margin-bottom : 100px}
	</style>
	{% block style %} {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('root') }}">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('listing_schools') }}">Schools</a></li>
        <li><a href="{{ url_for('listing_programs') }}">Programs</a></li>
        <li class="dropdown">
          <a href="{{ url_for('cities') }}" class="dropdown-toggle" data-toggle="dropdown">By location<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('sort_cities', city='Tokyo') }}">Tokyo</a></li>
            <li><a href="{{ url_for('sort_cities', city='Kyoto') }}">Kyoto</a></li>
            <li><a href="{{ url_for('sort_cities', city='Nagano') }}">Nagano</a></li>
            <li><a href="{{ url_for('sort_cities', city='Fukuoka') }}">Fukuoka</a></li>
            <li><a href="{{ url_for('sort_cities', city='Nagoya') }}">Nagoya</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ url_for('prices') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By price<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('sort_prices', price_range='U1000') }}">Less than 1000€/month</a></li>
            <li><a href="{{ url_for('sort_prices', price_range='O1000') }}">More than 1000€/month</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ url_for('durations') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By duration<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('sort_durations',duration='12months') }}">12 months</a></li>
            <li><a href="{{ url_for('sort_durations',duration='18months') }}">18 months</a></li>
            <li><a href="{{ url_for('sort_durations',duration='24months') }}">24 months</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('listing_schools') }}">Log in</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('listing_schools') }}">Register</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="{{ url_for('search') }}" method="post">
        <div class="form-group">
          <input type="text" class="form-control" id="value" name="value" required>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  </div>
</nav>  
	
{% block content %} {% endblock %}

<nav class="navbar navbar-default navbar-sticky-bottom navbar-inverse">
  <div id="navbarCollapse" class="collapse navbar-collapse">
   © 2018 Copyright:Alexandra Roche <br/>
   Created as coursework of Advanced Web Technologies course (set09103) in Edinburgh Napier University
  </div>
</nav>

{% block scripts %} {% endblock %}

</body>
</html>
