{% extends "main.html" %}

{% block style %}
  <style>
    
  </style>
{% endblock %}

{% block content %}
  <div class="container page">
    <div class="header">
      <h1>Your profile</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Personnal informations
      </div>
      <div class="panel-body">
	Displayed name : {{ user[1] }}<br/>
	Email : {{ user[0] }} <br/>
	Country : {{ user[2] }} <br/>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Your favorites
      </div>
      <div class="panel-body">
	<div class="row">
	  {% for favorite in favorites %}
	  <div class="col-xs-6 col-md-3">
	    <a href="{{ url_for('school_description', schid=favorite[0]) }}" class="thumbnail">
              <img src="{{ url_for('static', filename='img/school'+favorite[0]+'.jpg') }}">
            </a>
          </div>
	  {% endfor %}
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Reviews given
      </div>
      <div class="panel-body">
      </div>
    </div>

  </div>
{% endblock %}
