{% extends "main.html" %}
{% block style %}
    <script src="{{ url_for('static', filename='raty/jquery.raty.js') }}"></script>
    <style>
    </style>
{% endblock %}
{% block content %}
    <div class="container page">
        <div class="header">
            <h2>Submit a review</h2>
            <h3>About the school : {{ school.name }}</h3>
        </div>

        <form method="post" action="{{ url_for('submit_review', schid=school.schid) }}">
            <div class="form-group">
                <label><h3>* Score</h3></label>
                <div class="raty" data-score="0"></div>
            </div>

            <div class="form-group">
                <label for="review-content"><h3>* Review</h3></label>
		<div class="jumbotron">
			<p>Please take time to provide a detailled review of the school comtaining information about courses, staff, location and so on. If your review is not relevant enough, it won't be accepted by the administrator.</p>
		</div>
                <textarea name="review-content" class="form-control" rows="8"></textarea>
            </div>

            <button type="submit" class="btn btn-default">Submit review</button>

        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>   
	$('.raty').raty({
		path: '/static/raty/images',
	});
	$(document).ready(function(){
	$("form").submit(function(){
		var score = $(".raty").attr('data-score')
		var input = $("<input>").attr("type", "hidden").attr("name", "mydata").val(score);
		$('form').append(input);
	});
	});
</script>
{% endblock %}
